
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.store-home {
  text-align: center;
  min-height: 16vh;
}

.store-head
{
  background-image: url("game-imgs/Storefront.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height:21vw;
  justify-content: center;
  display: block;
  font-size: calc(10px + 2vmin);
  color: rgb(253, 253, 253);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.store-heading{
  padding-top:5%;
}
.body-container{
  max-width:1740px;
  display:block;
}
.filter-container{
  width:30%;
  height:auto;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  max-width:432px;
  background-color:white;
}

.products-container{
  display:flex;
  flex-wrap: wrap;
  margin-left:30%;
  border-left: 5px solid black;
  margin-bottom: 50px;
}

.row{
  width:20%;
  overflow-wrap: break-word;
  padding: 50px 0 0 0;
}
.row-item{
  box-shadow: 0px 0px 10px rgb(204, 203, 203);
  border-radius: 3px;
  margin: 0px auto;
  width:80%;
  padding-top:10px;
}
.row-item:hover{
  box-shadow: 0px 0px 10px black;
}

.product-img{
  display:block;
  margin: 0 auto;
  height: 9.9vw;
  width:80%;
  box-shadow: 0px 0px 3px black;
}
.product-info{
  text-align:center;
  font-weight:600;
  font-size:1.3em;
  padding:10px 0 15px 0;
}
.price{
  padding:10px 0px;
}


button{
  background-color: rgb(238, 237, 237);
  border-radius:5px;
  width:45%;
  height:40px;
  font-weight: 700;
}

button:hover{
  cursor: pointer;
}

label{
  padding-left:5%;
}

input:hover{
  cursor: pointer;
}

.filters{
  margin:50px 5% 0 50%;
}
.filter-1{
  padding-bottom: 30%;
  font-size: 1.3em;
}
.filter-header{
  margin-bottom: 10%;
  border-bottom: 2px solid rgb(170, 170, 170);
}

.filter-2{
  font-size: 1.3em;
}